div[class^='col-'] {
    border: 2px solid dimgrey;
    outline: 15px solid white;
}

.header {
    background-color: lawngreen;
    height: 45px;
    font-style: oblique;
    font-family: cursive;
}

.col1 {
    background-color: red;
    height: 465px;
    text-align: center;
    font-style: oblique;
    font-size: 140px;
    font-family: arial;
}

.col2 {
    background-color: red;
    height: 465px;
    text-align: center;
    font-style: oblique;
    font-size: 140px;
    font-family: arial;
}

.col3 {
    background-color: red;
    height: 465px;
    text-align: center;
    font-size: 140px;
    font-family: arial;
}

.footer1 {
    background-color: yellow;
    height: 40px;
    text-align: right;
    font-style: oblique;
    font-family: cursive;
    padding-right: 3%
}

.footer2 {
    background-color: yellow;
    height: 40px;
    text-align: left;
    font-style: oblique;
    font-family: cursive;
}

@media (max-width: 575px) {
    .header {
        background-color: coral;
    }
    .col2 {
        background-color: aqua;
        height: 140px;
        font-size: 110px;
        text-align: center;
    }
    .col1 {
        height: 140px;
        font-size: 110px;
        text-align: left;
    }
    .col3 {
        height: 140px;
        font-size: 110px;
        text-align: right;
    }
    .footer1 {
        text-align: center;
    }
    .footer2 {
        text-align: center;
    }
}

@media (min-width:576px) and (max-width: 767px) {
    .header {
        background-color: aqua;
    }
    .col3 {
        background-color: lawngreen;
        height: 130px;
        font-size: 110px;
        text-align: center;
        padding: 0%;
    }
    .col1 {
        height: 275px;
        text-align: left;
    }
    .col2 {
        height: 275px;
        text-align: right;
    }
    .footer1 {
        text-align: center;
    }
    .footer2 {
        text-align: center;
    }
}

div[class^='col-'] {
    border: 2px solid dimgrey;
    outline: 5px solid white;
    padding: 15px;
    text-align: center;
}

.verde {
    background-color: chartreuse;
    height: 60px;
}

.verde1 {
    background-color: chartreuse;
    height: 45px;
}

.azul {
    background-color: cornflowerblue;
    height: 100px;
}

.gris {
    background-color: darkgrey;
    height: 100px;
}

.celeste {
    background-color: aqua;
    height: 80px;
}

.beich {
    background-color: coral;
    padding: 15px;
    height: 100px;
    text-align: center;
}